@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.boton {
  border: none;
  border-radius: 32.5px;
  background-color: #FEE600;
  min-width: 12.5rem;
  min-height: 2.8125rem;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
}

.boton:disabled {
  border: none;
  border-radius: 32.5px;
  background-color: #EAEBF5;
  color:#FFFFFF;
  min-width: 12.5rem;
  min-height: 2.8125rem;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 1.125rem;
  pointer-events: none;
}